<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        footer{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 70px;
            background-color: gray;
        }
        #logo{
            font-weight: bold;
            font-size: large;
        }
        span{
            color: blue;
        }
        #reseaux{
            display: flex;
        }
        i{
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <footer>
        <div id="logo">
            <span>LO</span>go
        </div>
        <div id="reseaux">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
    </footer>
</body>
</html>