<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
        }
        header{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 80px;
            background-color: gray;
            font-family: sans-serif;
        }
        #logo{
            font-weight: bold;
            font-size: large;
        }
        span{
            color: blue;
        }
        #nav{
            display: flex;
        }
        a{
            margin-left: 20px;
            text-decoration: none;
            color: black;
        }
        a:hover{
            text-decoration: underline;
            color: blue;
        }
    </style>
</head>
<body>
    <header>
    <div id="logo">
        <span>LO</span>go
    </div>
    <div id="nav">
        <a href="index">Accueil</a>
        <a href="service">Nos services</a>
        <a href="contact">Contactez-nous</a>
    </div>
</header>
</body>
</html>

